
.header {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ECECEC;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__logo-nav { 
    display: flex;
    align-items: center;
    gap: 93px; 
}
.header__logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}
.header__logo-web { color: var(--blue-color); text-decoration: none;}
.header__logo-studio { color: #000000;}
.header__nav-list {
    list-style-type: none;
    display: flex;
    gap: 46px;
    justify-content: flex-start;
    padding: 0;
}
.header__nav-items {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--black-color);
}
.header__nav-items:hover { 
    color: var(--blue-color);
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-items--underline{
    position: relative;
    color: #2196F3;
}
.header__nav-items--underline::after{
    position: absolute;
    content: "";
    bottom: -32px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--blue-color);
    border-radius: 2px;
}
.header__contact-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 0px;
}
.header__contact-items{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
}
.header__contact-icon {
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
 .header__contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:#757575;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-items:hover .header__contact-icon {
    fill: var(--blue-color);
}
.header__contact-items:hover .header__contact-link {
    color: var(--blue-color);
}

/* CSS DO WEBSTUDIO */
.heading {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("../images/index/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 1600px;
    background-position: 50% 50%;
    padding: 94px 0;
    height: 600px;
    left: 0px;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heading__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.heading__header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
    width: 696px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.heading__button {
    background: var(--blue-color);
    color: var(--primary-color);
    font-family: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: none;
}
.heading__backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0 0 0 / 0.2);
    z-index: 2;
}
.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: var(--primary-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: inherit;
    visibility: inherit;
    transition-property: visibility,  opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close{
    background: var(--primary-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
}
.form__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form__head{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    margin-top: 40px;
    margin-bottom: 30px;
}
.form__label {
    position: absolute;
    color: #757575;
    margin-top: -18px;
    margin-left: 0;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.form__label--checkbox {
    position: relative;
    margin-left: 49px;
    font-size: 14px;
    line-height: 1.71;
}
.form__div {
    position: relative;
    display: flex;
    padding: 0;
    height: 40px;
    width: 448px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 28px;
}
.form__div:focus-within {    
    border-color: var(--blue-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__div:focus-within .form__icon {
    fill: var(--blue-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__div--comment {
    position: relative;
    width: 448px;
    height: 120px;
    margin-bottom: 20px;
}
.form__input{
    width: 100%;
    border: 0;
    padding: 0;
    height: 38px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.form__input:focus-visible {
    outline: 0px;
}
.form__textarea {
    resize: none;
    width: 416px;
    height: 96px;
    margin: 12px 16px;
    border: 0px;
    padding: 0;
    font-size: 12px;
    line-height: 1.17;
    color: #757575;
    }
.form__textarea:focus-visible{
    outline: 0px;
}
.form__icon {
    margin: 11px 12px;
}
.form__checkbox{
    margin: 0;
    border: 0;
    padding: 0;
    width: 450px;
}
.form__checkbox-link {
    color: var(--blue-color);
}
.form__checkbox-input{
    position: absolute;
    opacity: 0;
    margin-left: -22px;
    margin-top: 4px;
}
.form__checkbox-input:checked+.form__checkbox-span {
    background-color: var(--blue-color);
    border: 0;
}
.form__checkbox-span {
    position: absolute;
    width: 16px;
    height: 15px;
    margin-left: -23px;
    margin-top: 4px;
    border-radius: 2px;
    border: 2px solid var(--black-color);
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__checkbox-svg {
    width: 11px;
    height: 8px;
}
.form__submit-button{
    width: 200px;
    height: 50px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-color);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}
.assets { 
    padding-top: 94px 0;
}
.assets__container {
    background-color: var(--primary-color);
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    gap: 30px;
}
.atuty__icons {
    display: flex;
    gap: 30px;
}
.assets__rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
}
.assets__div-text {
    background-color: var(--primary-color);
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.assets__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 30px;
    flex-basis: 1200px;
    padding:0;}
.assets__item { 
    flex-basis: 270px}
.assets__header {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.assets__text {
    color: #757575;
    font-size: 14px;
    line-height: 1.5rem;
    letter-spacing: 0.03em;
}
.activity{
    background-color: var(--primary-color);
    padding: 94px 0;
}
.activity__header {
    width: 1200px;
    font-size: 36px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.activity__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.activity__list {
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}
.activity__items {
    flex-basis: 370px;
}
.activity__box-img{
    width: 370px;
    height: 294px;
    position: relative;
    
}
.activity__label{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
   
}
.activity__label-text{
    margin: 27px auto;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.team {
    background-color: #F5F4FA;
    padding: 94px 0;
}
.team__header {
    width: 1200px;
    font-size: 36px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team__item-list{
    list-style-type: none;
    display: flex;
    gap: 30px;
    padding: 0 15px;
    margin: 0;
}
.team__items {
    flex-basis: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background: var(--primary-color);
}
.team__participant{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team__p {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.social-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
    fill: #AFB1B8;
}
.social-media__ellipse{
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__ellipse:hover,
.social-media__ellipse:focus {
    background-color: var(--blue-color);
    fill: #EEEEEE;
    cursor: pointer;
}
.client{
    padding: 94px 0;
}
.client__header {
    width: 1200px;
    font-size: 36px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.client__container{
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.client__rectangle {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client__rectangle:hover,
.client__rectangle:focus{
    border-color: var(--blue-color);
    cursor: pointer;
    fill:var(--blue-color);
}
/* CSS DO PORTFOLIO */
.projects {
    background-color: var(--primary-color);
    padding: 94px 0;
}
.projects__filters-list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.projects__filters-buttons {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    text-align: center;
    cursor: pointer;
    background-color: #F5F4FA;
    color: var(--black-color);
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__filters-buttons:hover,
.projects__filters-buttons:focus {
    color: var(--primary-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects__container {
    box-sizing: content-box;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.projects__container-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0 15px;
    gap: 30px; 
}
.projects__container-items{
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__container-items:hover {
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16); 
}
.projects__container-img { display: block;}
.projects__container-box {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3f51b5;
    transform: translatey(101%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
}
.overlay__p {
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    width: 301px;
    height: 196px;
    margin: 49px 45px;
    margin-left: 24px;
    color: rgba(255, 255, 255, 1);

}
.projects__container-items:hover .overlay {
    transform: translatey(0);
  }
.projects__container-img-title {border: 1px solid #EEEEEE;}
.projects__container-img-name {
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    margin: 20px 24px 4px;
}
.projects__container-img-type {
    color: #757575;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    margin: 4px 24px 20px;
}
/* CSS DO FOOTER */
.footer {
    background: #2F303A;
    height: 252px;
    padding: 60px 0px;
}
.footer__container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin: 0 auto;
    padding: 0 15px;
}
.footer__logo-address {
    display: flex;
    flex-direction: column;
}
.footer__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}
.footer__logo-web { color: var(--blue-color); text-decoration: none;}
.footer__logo-studio {color: var(--primary-color)}
.footer__address-list {
    list-style-type: none;
    padding: 0px ;
    margin: 0px;
    height: 81px;
}
.footer__address-item {
    font-weight: 400;
    font-size: 14px;
}
.footer__address-item:nth-child(2) {margin-bottom: 9px;}
.footer__address-item-location {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    font-style:normal;
    margin-bottom: 9px;
}
.footer__address-link{
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF99;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link-mailto {
    text-decoration-line: underline;
}
.footer__address-link:hover { 
    color: var(--blue-color);
}
.footer__join-us-header {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: auto 0;
    margin-bottom: 20px;
    margin-top: 12px;
}
.footer__sm {
    display: flex;
    gap: 10px;}
.footer__sm-ellipse {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    fill:var(--primary-color);
    transition: background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__sm-ellipse:hover,
.footer__sm-ellipse:focus {
    background-color: var(--blue-color);
    cursor: pointer;
}
.footer__newsletter {
    padding: 0;
    padding-top: 12px;
    padding-left: 7px;
    border: 0;
    margin: 0;
}
.footer__newsletter-label{
    display:flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
}
.footer__newsletter-div-btn {
    display: flex;
    flex-direction: row;
}
.footer__newsletter-input{
    margin-top: 20px;
    margin-right: 12px;
    width: 358px;
    height: 50px;
    color: #FFFFFF99;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;
    outline: none;
}
.footer__newsletter-btn{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    background: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-color);
    padding-left: 42px;
    padding-right: 28px;
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;

}
.footer__newsletter-btn-svg{
    width: 24px;
    height: 24px;
    margin-left: 24px;
}