.footer__join-us-header {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: auto 0;
    margin-bottom: 20px;
    margin-top: 12px;
}