.header {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ECECEC;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;}
}

